<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>License Plate Recognition</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/index.css') }}">
</head>
<body>
    <h1>License Plate Recognition</h1>
    <form action="{{ url_for('upload_image') }}" method="POST" enctype="multipart/form-data">
        <input type="file" name="file" accept="image/*" required>
        <button type="submit" class="back-link">Upload Image</button>
    </form>
</body>
</html>